<h3 class="my-3">Editar baile en pareja</h3>
<hr>

<%= render 'form', couple: @couple %>

<p><small>Otras acciones (no guardan los cambios realizados):</small></p>
<div class="btn-group mb-3" role="group" aria-label="Otras acciones:">
  <%= link_to 'Mostrar ficha', @couple, class: "btn btn-secondary", role: "button" %>
  <%= link_to 'Volver a lista', couples_path, class: "btn btn-secondary", role: "button" %>
</div>
