<p id="notice"><%= notice %></p>

<div class="row my-3">
  <div class="col-md-8">
    <h3>Lista de Usuarios</h3>
  </div>
  <div class="col-md-4">
    <small><em>Para agregar más usuarios, se debe cerrar sesión.</em></small>
  </div>
</div>
<% if can? :manage, :all %>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>E-mail</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Ver usuario', user, class: "btn btn-block btn-info" %></td>
        <td>Inscribir:</td>
        <td></td>
        <%#
        # <td><%# link_to 'Editar', edit_user_path(user), class: "btn btn-block btn-primary" % ></td>
        # <td><%# link_to 'Borrar', user, class: "btn btn-block btn-danger", method: :delete, data: { confirm: '¿Segura?' } % ></td>
        %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% else %>
<p>No deberías ver esto.</p>
<% end %>
