<h3 class="my-3">Bloquear horario</h1>
<hr>

<div class="row">
  <div class="col-xl-6">
    <h4 class="text-center">Horas disponibles</h4>
    <%= render 'disponibilidad' %>
  </div>
  <div class="col-xl-6">
    <h4 class="text-center">Agenda el horario bloqueado</h4>
    <%= render 'form', lesson: @lesson %>
  </div>
</div>

<%= link_to 'Volver', lessons_path, class: 'btn btn-block btn-secondary my-3', role: "button" %>
