<h3 class="my-3">Edición de clase</h1>
<hr>

<%= render 'form', lesson: @lesson %>

<div class="btn-group mb-3" role="group" aria-label="Otras acciones:">
  <%= link_to 'Mostrar clase', @lesson, class: "btn btn-secondary", role: "button" %>
  <%= link_to 'Volver', lessons_path, class: "btn btn-secondary", role: "button" %>
</div>
