/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 $brand-primary:             #B21F87 !default;
 $brand-success:             #134EBF !default;
 $brand-info:                #00A1B2 !default;
 $brand-warning:             #F07A4C !default;
 $brand-danger:              #ED1C24 !default;
 $enable-flex:               true;

 /* @import "bootstrap-sprockets"; */
 @import "bootstrap";

// Corrige el comportamiento de tablas responsive en Firefox
 @-moz-document url-prefix() {
   fieldset { display: table-cell; }
 }

// Estilos para Turbolinks
 .turbolinks-progress-bar {
  background-color: $brand-primary;
}

// Barra al fondo
body {
  margin-bottom: 4rem;
}
.nav-bottom {
  position: fixed;
  bottom: 0;
  background-color: #963;
  padding: 0 auto;
}
