<h1>¡Hola!</h1>
<h2>¿Qué quieres hacer?</h2>
<div class="row">
  <div class="col-md-2">
    <%= image_tag 'nuevos-novios.png', :class => "img-fluid my-1 mx-auto d-block" %>
    <p class="text-xs-center"><a href="<%= new_wedding_path %>">Registar <strong>novios</strong></a></p>
  </div>
</div>
