<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-block">
        <p class="lead">¿Qué quieres hacer?</p>
        <div class="row">
          <div class="col-md-4">
            <%= image_tag 'nuevos-novios.png', :class => "img-fluid my-1 mx-auto d-block" %>
            <p class="text-xs-center"><a href="<%= new_wedding_path %>">Registar <strong>novios</strong></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">

  </div>
</div>
